.cache
.git
__pycache__
**/__pycache__
**.pyc
**.pyo
**.pyd
data/
python/training/classification/data/*
python/training/classification/models/*
python/training/detection/ssd/data/*
python/training/detection/ssd/models/*
python/www/recognizer/data/*