[submodule "utils"]
	path = utils
	url = https://github.com/dusty-nv/jetson-utils
	branch = master
[submodule "python/training/imagenet"]
	path = python/training/imagenet
	url = https://github.com/dusty-nv/pytorch-imagenet
	branch = master
[submodule "tools/camera-collection"]
	path = tools/camera-collection
	url = https://github.com/dusty-nv/camera-collection
	branch = master
