[submodule "utils"]
	path = utils
	url = https://github.com/dusty-nv/jetson-utils
	branch = master
[submodule "tools/camera-capture"]
	path = tools/camera-capture
	url = https://github.com/dusty-nv/camera-capture
	branch = master
[submodule "python/training/classification"]
	path = python/training/classification
	url = https://github.com/dusty-nv/pytorch-classification
	branch = master
[submodule "python/training/detection"]
	path = python/training/detection
	url = https://github.com/dusty-nv/pytorch-detection
	branch = master
[submodule "python/training/segmentation"]
	path = python/training/segmentation
	url = https://github.com/dusty-nv/pytorch-segmentation
	branch = master
[submodule "plugins/pose"]
	path = c/plugins/pose
	url = https://github.com/dusty-nv/trt_pose
[submodule "docker/containers"]
	path = docker/containers
	url = https://github.com/dusty-nv/jetson-containers
	branch = master
[submodule "ros"]
	path = ros
	url = https://github.com/dusty-nv/ros_deep_learning
