[Desktop Entry]
Name=Abaco Tegra Imagenet Inferance Demo
X-GNOME-FullName=Abaco Systems imagenet inferance demo demonstration
Comment=Nvidia deep learning demonstration
Keywords=video;webcam;
Exec=/home/ubuntu/inferance01.sh
Terminal=false
Type=Application
StartupNotify=true
Icon=/usr/share/icons/AbacoSystems_icon.png
Categories=GNOME;Video;Webcam
