[Desktop Entry]
Name=Abaco Tegra Motion Estimation Streaming Demo (Synthetic)
X-GNOME-FullName=Abaco Systems motion estimation demo demonstration
Comment=Nvidia computer vision demonstration on RTP streams
Keywords=video;webcam;
Exec=/home/ubuntu/testRtp01.sh
Terminal=false
Type=Application
StartupNotify=true
Icon=/usr/share/icons/AbacoSystems_icon.png
Categories=GNOME;Video;Webcam
